@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #355c7d;
  color: #355c7d;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.quote-box {
  background-color: white;
  margin: 0 auto;
  width: 40rem;
  border-radius: 0.25rem;
  padding: 2.5rem 3rem;
  padding-bottom: 8.5rem;
  position: relative;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.text {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
}

.author {
  margin-bottom: 1.5rem;
  position: absolute;
  right: 3rem;
  bottom: 5rem;
  font-size: 20px;
}

.new-quote {
  border: 0;
  background: #355c7d;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  transition: opacity 0.25s ease-in-out;
}

.new-quote:hover {
  opacity: 0.8;
}

.twitter {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  border-radius: 0.25rem;
  background: #355c7d;
  padding: 10px 9px 5px 10px;
  transition: opacity 0.25s ease-in-out;
}

.twitter img {
  width: 2rem;
}

.twitter:hover {
  opacity: 0.8;
}
